<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/index" th:text="${@environment.getProperty('app.title')}"></a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav d-flex flex-row">
                    <a class="nav-item nav-link active" href="/tasks">Car List</a>
                    <a class="nav-item nav-link active" href="/tasks">New Post</a>
                </div>
                <div class="d-flex flex-row-reverse" th:if="${userDto.name == 'Guest' || userDto.name == null}">
                    <a class="nav-item nav-link text-light" th:href="@{/users/register}">Register</a>
                    <a class="nav-item nav-link text-light" th:href="@{/users/login}">Log In</a>
                </div>
                <div th:if="${userDto.name != 'Guest' && userDto.name != null}">
                    <a class="nav-item nav-link text-light bd-highlight me-3" href="#" th:text="${userDto.name}"></a>
                    <a class="nav-item nav-link text-light bd-highlight" th:href="@{/users/logout}">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</div>